main>.banner img{
    width: 100%;
}
main>nav.about.fixed{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: #fff;
}
main>nav.about ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%;
    border-bottom: 1px solid #ccc;
}
main>nav.about ul li{
    cursor: pointer;
    height: 6rem;
    line-height: 6rem;
    padding: 0 1rem;
}
main>nav.about ul li.active{
    background-color: #F5B750;
    color: #f0f0f0;
    transition: all .6s;
}
.content  h3{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    color: #333;
    margin: 0;
    padding: 2rem 0;
}
.content span{
    margin: 0 auto;
    display: block;
    background-color: #222;
    height: 0.1rem;
    width: 6rem;
}
.content .aboutus.honnr p{
    text-align: center;
}
.content .aboutus .text{
    margin: 3rem 0;
}
.content .aboutus .text h2{
    font-size: 2rem;
}
.content .aboutus p{
    text-indent: 2em;
    line-height: 2.8rem;
    margin: 0;
    padding: 2rem 0;
}
.content .culture .title {
    background-color: #F5B750;
    margin-bottom: 3rem;
    padding: 2rem;
}
.content .culture h3{
    color:#fff;
    margin-top: 0;
}
.content .culture h4{
    text-align: center;
    font-weight: 400;
    color: #333;
    font-size: 2rem;
}
.content .culture span{
    background-color: #fff;
}
.content .culture .dev span{
    background-color: #222;
}
.content .culture .dev p.time{
    font-size: 2rem;
    text-align: left;
}
.content .culture .dev ul.list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content .culture .dev ul.list li{
    width: 40%;
    margin: 2rem 0;
}
.content .culture .dev ul.list span{
    height: 3rem;
    width: 100%;
    background-color: #fff;
}
.content .connectus img{
    width: 100%;
}
.abtus-contact{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}
.abtus-contact .left{
    width: 50%;
    background-color: #F5B750;
    position: relative;
}
.abtus-contact .left .bottom{
    position: absolute;
    right: 10%;
    bottom: 2%;
    color: #fff;
}
.abtus-contact .left h3{
    color: #fff;
}
.abtus-contact .left span{
    background-color: #fff;
}
.abtus-contact .left .text{
    margin: 2rem 0;
}
.abtus-contact .left img{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}
.abtus-contact .right{
     width: 50%;
}
.abtus-contact img{
    width: 100%;
}