html,body{
    margin: 0; 
    padding: 0;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
i{
    font-style: normal;
}
strong,b{
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    width: 100%;
    vertical-align: middle;
}
input{
    outline: none;
    border: 1px solid #ccc;
}
ul,ol,dl,dt,dd,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w{
    margin: 0 auto;
    max-width: 1200px;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}

@media screen and (max-width: 1200px) {
    html{
        font-size: 10px;
    }
}

@media screen and (max-width: 1100px) {
    html{
        font-size: 8px;
    }
}
@media screen and (max-width: 640px) {
    html{
        font-size: 6px;
    }
}
/* 头部 */
header {
    height: 80px;
    /* min-width: 1200px; */
    position: absolute;
    width: 100%;
    background-color: transparent;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 80px;
}

header nav .left {
    height: 100%;
}
header nav  img{
    width: 100%;
}

header nav a {
    color: #f0f0f0;
    font-size: 16px;
}


header nav .left a {
    display: block;
}
header nav .center>.list>li {
    float: left;
}

header nav .center>.list>li>a {
    padding: 0 10px;
    margin: 0 15px;
    display: block;
}
/* 下拉列表 */

.center>.list>li:hover>.goods{
    opacity: 1;
    visibility: inherit;
}
.center>.list>li:nth-child(1):hover>.goods>.hot,
.center>.list>li:nth-child(1):hover>.goods>.right li{
   transform: translateY(0px);
   opacity: 1;
}
.center>.list>li:nth-child(1)>.goods img:hover{
    transform: translateY(5px);
}
.center>.list>li:nth-child(1)>.goods a{
    overflow: hidden;
}
.center>.list>li:nth-child(1)>.goods img{
    transition: all .4s .2s;
    transform: translateY(0px);
}
.center>.list>li>.goods{
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    background-color: #f5f5f5;
    padding: 25px 10%;
    box-sizing: border-box;
    transition: all .3s;
}
.center>.list>li>.goods a{
    display: block;
}
.center>.list>li>.goods p{
    color: #333;
    line-height: 20px;
    text-align: center;
}
.center>.list>li>.goods>.hot{
    flex-basis: 20%;
    background-color: #fff;
    padding: 5% 10%;
    transform: translateY(10px);
    opacity: 0;
    transition: all .5s;
}
.center>.list>li>.goods>.right{
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.center>.list>li>.goods>.right li{
    width: 30%;
    background-color: #fff;
    margin: 5px 2px;
    padding: 2px;
    opacity: 0;
    transform: translateY(10px);
    transition: all .5s .1s;
}
.center>.list>li>.goods>.right li:nth-child(2){
    transition: all .5s .2s;
}
.center>.list>li>.goods>.right li:nth-child(3){
    transition: all .5s .3s;
}
.center>.list>li>.goods>.right li:nth-child(4){
    transition: all .5s .4s;
}
.center>.list>li>.goods>.right li:nth-child(5){
    transition: all .5s .5s;
}
.center>.list>li>.goods>.right li:nth-child(6){
    transition: all .5s .6s;
}

.center>.list>li>.goods img{
    width: 100%;
}

header nav .right>a {
    float: left;
    display: block;
    margin: 0 10px;
}

/* 脚部 */
.ft-service{
    background-color: #fff;
}
.ft-service ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ft-service>ul>li{
    padding: 40px 0;
    width: 25%;
    text-align: center;
}
.ft-service ul li>a{
    display: block;
}
.ft-service ul li>a>i{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url('../images/ft-service.png') no-repeat center;
}
.ft-service ul li:nth-child(1)>a>i{
    background-position: 0px -400px;
}
.ft-service ul li:nth-child(2)>a>i{
    background-position: 0px 0px;
}
.ft-service ul li:nth-child(3)>a>i{
    background-position: 0px -240px;
}
.ft-service ul li:nth-child(4)>a>i{
    background-position: 0px -560px;
}
.ft-service ul li>a span{
    display: block;
}


footer{
    background-color: #fff;
}
footer .container .footer-wrap{
    border-top: 1px solid #ccc;        
    padding: 20px 0;
}
footer .container .footer-wrap dl{
    float: left;
    width: 20%;
}
footer .container .footer-wrap dt{
    line-height: 40px;
    font-size: 24px;
    font-weight: 200;
    font-family: '宋体';
    margin-bottom: 30px;
}
footer .container .footer-wrap dl>dd>a:hover{
    color: #FAC208;
}
footer .container .footer-wrap dd{
    padding: 5px 0;
}
footer .container .footer-wrap .connect{
    float: right;
}
footer .container .footer-wrap .connect >a.kf{
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 10rem;
    line-height: 40px;
    font-size: 18px;
    margin: 10px 0;
    border: 1px solid #FAC208;
    color: #FAC208;
    transition: all .4s;
    
}
footer .container .footer-wrap .connect >a.kf:hover{
    background-color: #FAC208;
    color: #fff;
}
footer .container .footer-bottom{
    background-color: #f5f5f5;
}
footer .container .footer-bottom .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
/* footer .container .footer-bottom .inner .right {
    padding-top: 30px;
} */
footer .container .footer-bottom .inner .right{
    line-height: 80px;
    position: relative;
}

footer .container .footer-bottom .inner .right .place{
    opacity: 0;
    border: 1px solid #ccc;
    height: 30px;
    width: 100px;
    line-height: 30px;
    background-color: #ccc;
    padding: 5px;
    bottom: 0;
    left: -80px;
    position: absolute;
    transform: translateY(0px);
    transition: all .4s .2s;
}
footer .container .footer-bottom .inner .right .place a{
    display: inline-block;
    text-align: center;

}
footer .container .footer-bottom .inner .right:hover .place{
    transform: translateY(-80px);
    opacity: 1;
}