

/* 主体部分 */

/* banner */
/* main section.part1{
    width: 100%;
} */
main section img{
    width: 100%;
}
main section {
    /* min-width: 120rem;     */
}
main section.part1 .banner a>img {
    width: 100%;
}

main section.part1 .activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main section.part1 .activity a{
    position: relative;
}
main section.part1 .activity h3{
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 2.4rem;
}
main section.part1 .activity img{
    width: 100%;
}
main section.part2 {
    position: relative;
}
main section.part2 .desc{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
main section.part2 .desc h2{
    font-size: 4rem;
    text-align: center;
    color: #fff;
}
main section.part2 .desc p{
    font-size: 2.4rem;
    margin: 1rem 0;
    color: #fff;
}
main section.part2 .desc a{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: .6rem 0;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    border: 1px solid #FAC208;
    background-color: #FAC208;
    transition: all .3s .2s;
    box-sizing: border-box;
}
main section.part2 .desc a:hover{
    background-color: transparent;
    border: 1px solid #FAC208;
    color: #FAC208;
}
main section.part3 {
    padding: 6% 0;
    background-color: #f5f5f5;
}
main section.part3 .news{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
main section.part3 .news li{
    margin-right: 1.6rem;
    background-color: #fff;
    overflow: hidden;
    transition: all .4s;
}
main section.part3 .news li:hover{
    box-shadow: 0px 1rem 3rem #ccc;
    transform: translateY(-0.2rem);
}
main section.part3 .news li:nth-child(3){
    margin-right: 0;
}
main section.part3 .news li a{
    display: block;
}
main section.part3 .news li a .text{
    padding: 2rem;
}
main section.part3 .news li a .text p{
    line-height: 4rem;
    font-size: 2.2rem;
}
main section.part3 .news li a .text span{
    display: block;
    margin: 1.8rem 0;
}


