main.container .content .left{
    flex-basis: 100%;
}
main.container .content .left ul.item{
    padding: 10px;
}
main.container .content .left .item li ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main.container .content .left .item li ul li:first-child{
    flex-basis: 100%;
}
main.container .content .left .item li ul li{
    width: 49%;
    margin: 10px 0;
}
.left .item li ul li a{
    display: block;
    position: relative;
}
.left .item li ul li a>.cover{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s;
}
.left .item li ul li a>.cover:hover{
    opacity: 1;
}
.left .item li ul li a>.cover span{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
}
.left .item li ul li a>.cover span>i{
    text-align: center;
    font-size: 80px;
}

/* 播放弹窗css */
main.container .content .play-box{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 999;
    display: none;
}
main.container .content .play-box .cover{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 80px;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
main.container .content .play-box .cover iframe{
    width: 100%;
    height: 100%;
}
main.container .content .play-box .cover span.close{
    position: absolute;
    top: 50px;
    right: 50px;
}
main.container .content .play-box .cover span.close i{
    font-size: 30px;    
}